{%load static %}
<!-- Scripts -->
<script src="{% static 'music/js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="{% static 'music/js/jquery.simple-text-rotator' %}"></script>
<script src="{% static 'music/js/jquery.simple-text-rotator.min' %}"></script>
<script src="{% static 'music/js/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="{% static 'music/js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
<script src="{% static 'music/js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="{% static 'music/js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
<script src="{% static 'music/js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
<script src="{% static 'music/js/morphext.min.js' %}"></script> <!-- Morphtext rotating text in the header -->
<script src="{% static 'music/js/validator.min.js' %}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="{% static 'music/js/scripts.js' %}"></script> <!-- Custom scripts -->
<script src="https://kit.fontawesome.com/99cff280a5.js' %}"></script>
<script src="{% static 'music/js/chart.bundle.js' %}"></script>
<script src="{% static 'music/js/utils.js' %}"></script>
