{% extends 'music/base.html' %}
{% load static %}
{% block content %}

<div id="basic-2" class="tabs">
    <div class="container">
      <a id="errormess"></a>

        <div class="row">
            <div class="col-lg-12" style="margin-bottom: 6rem;">
              <a id="errormess">
              {% include 'music/messages.html' %}

                <h2>CHECK GENRE</h2>
                <div class="p-heading p-large">Here you can drag and drop your music file or click on the area and upload your music file to check genre of the music.</div>
            </div> <!-- end of col -->
        </div>
        <div class="row">
            <form action="{% url 'predictor:result' %}" method="POST" enctype="multipart/form-data" class="up-form">
               {% csrf_token %}
               <input type="file" name='document' multiple="" class="up-input">
               {{form.as_table}}
              <p class="up-p">Drag your music file here or click in this area.</p>
              <button type="submit" class="btn btn-sm btn-success" style="margin-left: 9rem; width: 30vh;">Check</button>

            </form>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of File Upload -->

{% endblock %}

{% block js%}
<script>
    $(document).ready(function(){
        $('.up-input').change(function () {
            $('.up-p').text(this.files.length + " file(s) selected");
        });
    });
</script>
{%endblock%}