{% extends 'music/base.html' %}
{% load static %}

	<!-- Favicon  -->
 <link rel="icon" href="{% static 'music/images/headphone.png' %}">
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->



{% block content %}
    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text-container">
                            <h4>A music genre classification for 
                                <span id="js-rotating">
                                    , METAL, DISCO, CLASSICAL, HIPHOP, JAZZ, COUNTRY, POP, BLUES, REGGAE, ROCK
                                </span>
                            </h4>
                            <a class="btn-solid-lg page-scroll mt-4" href="#basic-2"><i class="fas fa-headphones"></i> GET STARTED</a>
                        </div>				

					<div class="col-lg-5">
                        <div class="image-container">
                            <img class="img-fluid" src="{% static 'music/images/guitar.png' %}" alt="alternative">
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->



    <!-- File Upload -->
    {% include 'music/check_genre.html' %}


    <!-- Statistics -->
    <div class="counter" id="statistics">
        <div class="row">
            <div class="col-lg-12">
                <h2>STATISTICS</h2>
            </div>
        </div>
        <div class="container" style="margin-top: 3rem;">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Counter -->
                    <div id="counter">
                        <div class="cell">
                            <div class="counter-value number-count" data-count="1000"&nbsp>1</div>
                           
                            <p class="counter-info">Total Music</p>
                        </div>

                        <div class="cell">
                            <div class="counter-value number-count" data-count="750">1</div>
                            <p class="counter-info">Training Set</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="250">1</div>
                            <p class="counter-info">Testing Set</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="73.20">1</div>
                            <p class="counter-info">Accuracy (%)</p>
                        </div>
                    </div>
                    <!-- end of counter -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of counter -->
    <!-- end of statistics -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form -->
    <!-- end of contact -->

{% endblock %}

</body>

</html>